<!--Modal: Contact form-->

<div class="modal-dialog cascading-modal" role="document">
  <!--Content-->
  <div class="modal-content">

    <!--Header-->
    <div class="modal-header light-blue darken-3 white-text">
      <h4 class="title">
        <i class="fa fa-user"></i> LOGIN</h4>
    </div>
    <!--Body-->
    <div class="modal-body mb-0">

      <div class="md-form form-sm">
        <i class="fa fa-envelope prefix"></i>
        <input [(ngModel)]="user.username" mdbInputDirective type="email" id="email" class="form-control">
        <label for="email">Your email</label>
      </div>

      <div class="md-form form-sm">
        <i class="fa fa-lock prefix"></i>
        <input [(ngModel)]="user.password" mdbInputDirective type="password" id="password" class="form-control">
        <label for="password">Your password</label>
      </div>

      <div class="text-center mt-1-half">
        <button (click)="login()" mdbBtn color="info" class="mb-2 waves-light" mdbWavesEffect>Login
          <i class="fa fa-send ml-1"></i>
        </button>
      </div>


    </div>
  </div>
  <!--/.Content-->
</div>

<!--Modal: Contact form-->