.mainbody {
    background: url("../../assets/images/techandall_wallpaper_1.jpg") !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    height: -webkit-fill-available;
    background-repeat: no-repeat !important;
}