<mdb-navbar SideClass="navbar navbar-expand-lg  navbar-dark indigo ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <img src="../../assets/images/google-drive-icon-8.png" class="logo">
    <a class="logo navbar-brand" href="#">
      <strong>OAUTH IT15000118</strong>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <ul *ngIf="isLoggedInUser" (click)="logout()" class="navbar-nav nav-flex-icons">
      <mdb-navbar-brand>
        <img src="../../assets/images/google_PNG19635.png" class="logo">
        <a class="logo navbar-brand" href="#">
          <strong>LOGOUT</strong>
        </a>
      </mdb-navbar-brand>
    </ul>
    <ul *ngIf="!isLoggedInUser" (click)="signIn()" class="navbar-nav nav-flex-icons">
      <mdb-navbar-brand>
        <img src="../../assets/images/google_PNG19635.png" class="logo">
        <a class="logo navbar-brand" href="#">
          <strong>LOGIN</strong>
        </a>
      </mdb-navbar-brand>
    </ul>
  </links>
</mdb-navbar>
<div class="file-container">
  <div class="col-md-12">
    <div class="card card-cascade narrower">
      <div class="view overlay hm-white-slight waves-light " mdbWavesEffect>
        <h1 class="table-heading">File List</h1>
      </div>
      <div class="card-body">
        <table id="contentToConvert" class="table table-striped ">
          <thead>
            <tr>
              <th></th>
              <th>#</th>
              <th>File Name</th>
              <th>Mime Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let row of fileList; let i = index ">
              <td>
                <img src="../../assets/images/file.gif" class="file">
              </td>
              <td>{{i+1}}</td>
              <td>{{row.name}}</td>
              <td>{{row.mimeType}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>