.table-heading {
    background: linear-gradient(40deg, #000000, #3f51b5);
    color: white;
    margin-bottom: -1px;
    text-align: center;
    font-size: 160%
}

.file-container {
    margin-top: 4rem;
}

th {
    font-weight: bold; // font-size: 80% !important;
}

.logo {
    height: 3rem;
    margin-right: 1rem;
}

.file {
    height: 2rem;
    margin-right: -1rem;
}